<h1>hello wordcount</h1>
welcome to wordcount:
</br>

<form action="{% url 'count' %}">
    <textarea cols="40" name="fulltextarea" rows="10"></textarea></br>
    <input type="submit" value="Count!"/>
</form>


<form action="{% url 'about' %}">
    <input type="submit" value="Contact us:"/>

</form>
<a href="{% url 'about' %}" style="font-size:2em;">Contact us:</a>
</br>

</br>
</br>

<a href="{% url 'validation' %}" style="font-size:2em; ">Form Validation:</a>

</br>
</br>

<a href="{% url 'mywebsite' %}" style="font-size:2em;"> My Website</a>