<!DOCTYPE html>
<html>
<head>
    <title>Shubham Singhal|Photography|Music|Design</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %"/>
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>
	<header>
		<nav>
			<h1>Shubham Singhal</h1>
			<ul id="nav">
				<li><a class="homered" href="#">HOME</a></li>
				<li><a class="homeblack" href="portfolio.html">PORTFOLIO</a></li>
				<li><a class="homeblack" href="#">ABOUT ME</a></li>
				<li><a class="homeblack" href="#">CONTACT</a></li>
			</ul>
		</nav>

            <ul id="fav">
				<li><a ><i class="fa fa-facebook-official" aria-hidden="true"></i></a></i></li>
				<li><a><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
				<li><a><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
				
			</ul>
	</header>
	

    
	

	<div class="divider"></div>
	<div class="fwimage"> 
		<h2 class="homesubline">HI! MY NAME IS <span style="color:white">SHUBHAM SINGHAL</span> AND I LOVE</h2>
		<h1 class="homedesign">DESIGN & </h1>
		<h1 class="homephotography">PHOTOGRAPHY</h1>
		<br>
		<button class="homebutton">PORTFOLIO</button></br>
		<div class="love"> >> </div>


	</div>



</body>
</html>  